:root {
  --bg: #fff;
  --primaryTextColor: #555555;
  --secondaryTextColor: #6b6b6b;
  --primaryColor: #0da3d6;
  --secondaryColor: #af9b7d;
  --tertiaryColor: #88bf57;
  --navbarHeight: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  color: var(--primaryTextColor);
}

body {
  background: var(--bg);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

.err-msg {
  color: #ff0000;
  font-size: 0.75rem;
}

.category-filter {
  width: 300px;
  margin-right: 30px;
}

.carousel .slide > div {
  width: 100% !important;
}

.carousel .thumb {
  height: 100px !important;
}

.carousel .thumb img {
  height: 100% !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 200ms;
}

.ReactModal__Overlay--after-open {
  opacity: 100%;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.select-amt {
  width: 100%;
}

.cart-item-container {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.4fr 0.8fr 0.2fr;
  grid-column-gap: 30px;
  justify-items: center;
  align-items: center;
  margin-bottom: 30px;
  min-height: 170px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.cart-item-container:last-child {
  margin-bottom: 10px;
  border-bottom: none;
  height: 140px;
  padding-bottom: 0;
}

.cart-item-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .cart-item-container:not(.total-price-container) {
    overflow-x: scroll;
  }

  .cart-item-container .text-content,
  .cart-item-container img {
    width: 150px !important;
  }
}

.discounted:not(.discount) {
  text-decoration: line-through;
  font-size: 0.8rem;
  font-weight: 300;
}

.policy {
  margin: 50px auto;
  width: 75%;
  line-height: 1.5em;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .policy {
    width: 85%;
    font-size: 14px;
  }
}

.policy > * {
  margin-bottom: 20px;
}

.policy pre {
  overflow: scroll;
  background: #dddddd;
  padding: 20px;
}
