:root {
  --bg: #fff;
  --primaryTextColor: #555555;
  --primaryColor: #0da3d6;
  --secondaryColor: #af9b7d;
  --navbarHeight: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  color: var(--primaryTextColor);
}

body {
  background: var(--bg);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.err-msg {
  color: #ff0000;
  font-size: 0.75rem;
}
